*{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #000;
}
input:focus-visible,textarea:focus-visible{
	outline: none;
}
body,html{
	width: 100%;
	height: 100%;
}
body{
	position: relative;
}
.hidden{
	overflow: hidden;
}
.container{
	padding: 10px 15px;
}
.container .title{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
	/*margin-top: 10px;*/
}
.container .section{
	border-bottom: 2px solid #f7f7f7;
	padding-bottom: 15px;
	margin-top: 20px;
}
.scroll-tab{
	/*width: 100%;*/
	overflow: hidden;
	display: flex;
	overflow-x: scroll;
}
.scroll-tab::-webkit-scrollbar{
	display: none;
}
.scroll-tab li{
	/*float: left;*/
}
.scroll-tab label span{
	font-size: 13px;
	padding: 3px 8px;
	border: 1px solid #eee;
	border-radius: 8px;
	margin-right: 8px;
	word-break: keep-all;
	display: block;
}
.scroll-tab div input{
	display: none;
}
.scroll-tab input[type='radio']:checked + span{
	background: #84bdf5;
	color: #fff;
}
.ques_title .ques input{
	width: 100%;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	padding-left: 8px;
}
::-webkit-input-placeholder{
	color: #d3d3d3;
}
.ques_title .ques-tip{
	background: #e4f0f3;
	padding: 5px 8px;
	font-size: 14px;
	color: #749ca6;
}
.ques_title .ques-tip ul{
	list-style: disc;
	list-style-position: inside;
}
.ques_desc textarea{
	width: 100%;
	border: none;
	font-size: 14px;
	padding-left: 5px;
	padding-top: 5px;
	resize:none;
	min-height: 150px;
}
.ques_sub{
	position: fixed;
	bottom: 13px;
	width: 100%;
}
.ques_sub .selection{
	display: inline-block;
	font-size: 13px;
	color: #666;
}
.selection .select{
	width: 13px;
	height: 13px;
	border: 1px solid #666;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	margin-left: 5px;
}
.selection .select:after{
	content: '';
	width: 10px;
	height: 10px;
	display: block;
	/*background: #3b8dbf;*/
	border-radius: 10px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.selection input[type='checkbox']{
	display: none;
}
.selection input[type='checkbox']:checked + .select:after{
	background: #3b8dbf;
}

.ques_sub button{
	position: absolute;
	right: 10%;
	background: #45a0dc;
	color: #fff;
	/*font-weight: bold;*/
	padding: 3px 8px;
	border: none;
	border-radius: 5px;
	letter-spacing: 2px;
	font-size: 13px;
}

/************list*******************/
.search-bar{
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.search{
	width: 80%;
	display: flex;
	background: #eee;
	border-radius: 10px;
}
.search .search-btn{
	background: url(../imgs/search-btn.png) no-repeat center;
	width: 25px;
	display: block;
	background-size: contain;
	padding-left: 5px;
	/*border: none;*/
}
.search input{
	height: 25px;
	line-height: 25px;
	border: none;
	background: #eee;
	border-radius: 10px;
	width: 85%;
	padding-left: 5px;
}
.search,.header{
	/*display: inline-block;*/
}
.header{
	width: 25px;
	height: 25px;
	/*background: #2e8ece;*/
}
.header img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.banner{
	margin-top: 20px;
	width: 100%;
	height: 120px;
	border-radius: 10px;
}
.banner-swiper img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.select-tag{
	margin-top: 15px;
	margin-bottom: 10px;
}
.select-tag li{
	display: inline-block;
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;

	letter-spacing: 1px;
	padding: 2px 10px;
	border: 1px solid #ccc;
	border-radius: 7px;
}
.select-tag li.active{
	background: #a2cdf3;
	color: #fff;
	font-weight: bold;
}
.list{
	margin-top: 25px;
}
.list .list-item{
	margin-top: 15px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 20px;
}
.list-item .item-title{
	font-size: 17px;
	font-weight: bold;
}
.list-item .item-answer{
	padding: 10px 15px;
	background: #e6f5ff;
	margin-top: 5px;
}
.answer-user{
	display: flex;
	align-items: center;
}

.answer-user .user-header img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.answer-user .user-name{
	margin-left: 10px;
	font-weight: bold;
	font-size: 15px;
}
.answer-content{
	word-break: break-all;
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.set-ques{
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2196f3;
	text-align: center;
}
.set-ques p{
	font-size: 14px;
	color: #fff;
}
.set-ques p:nth-child(1){
	font-size: 17px;
	font-weight: bold;
}

/*******************detail****************/
.ques-section .date{
	font-size: 10px;
}
.ques-section .question{
	font-size: 14px;
	word-break: break-all;
}
.answer-section{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 5px solid #eee;
	margin-bottom: 50px;
}
.answer-section .answer-item{
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-top: 20px;
}
.answer-section .answer-user{
	/*margin-top: 20px;*/
}
.answer-section .user-header img{
	width: 35px;
	height: 35px;
}
.answer-section .user-name{
	flex: 1;
}
.answer-section .answer-date{
	font-size: 10px;
	margin-top: 5px;
}
.answer-section .answer-content{
	-webkit-line-clamp: 6;
}
.answer-section .answer-pl{
	font-size: 14px;
	background: #dff2ff;
	padding: 5px;
	margin-top: 12px;
}
.answer-pl .pl-item{
	padding: 3px 0px;
}
.answer-pl .pl-name{
	color: #2e8ece;
}
.answer-pl .pl-detail{
	word-break: break-all;
}
.answer-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	display: flex;
	align-items: center;
	border-top: 1px solid #f4f4f4;
	width: 100%;
	justify-content: space-around;
	background: #fff;
}
.answer-bar .set-btn,.answer-bar .wa-btn{
	padding: 5px 10px;
	background: #408bfb;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
}
.set-btn a{
	color: #fff;
}
.answer-footer{
	margin-top: 10px;
}
.answer-footer ul{
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
	color: #a0a0a0;
}
.answer-footer ul li{
	margin-left: 20px;
	display: flex;
}
/*.answer-footer .pl-btn{*/
/*	background: url(../imgs/pl-btn.png) no-repeat center;*/
/*}*/
/*.answer-footer .zan-btn{*/
/*	background: url(../imgs/zan-btn.png) no-repeat center;*/
/*}*/
/*.answer-footer .pl-btn,.answer-footer .zan-btn{*/
/*	width: 18px;*/
/*	background-size: 100%;*/
/*	margin-right: 2px;*/
/*}*/
/*.answer-footer .pl-btn:before{*/
/*	content: '';*/
/*	background: url(../imgs/pl-btn.png) no-repeat center;*/
/*}*/
.answer-footer li:nth-child(1):before {
	content: '';
	background: url(../imgs/pl-btn.png) no-repeat center;
	background-size: 100%;
	width: 18px;
	margin-right: 2px;
}

.answer-footer li:nth-child(2):before {
	content: '';
	background: url(../imgs/zan-btn.png) no-repeat center;
	background-size: 100%;
	width: 18px;
	margin-right: 2px;
}
.pl-page{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	display: none;
}
.pl-area{
	position: absolute;
	width: 100%;
	background: #eee;
	bottom: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.pl-top{
	padding: 8px 0px;
	font-size: 14px;
}
.pl-top ul{
	display: flex;
	justify-content: space-around;
}
.pl-top ul li:nth-child(2){
	font-size: 16px;
	font-weight: bold;
}
.pl-top ul li:nth-child(1):before{
	content: '';
	background: url(../imgs/close-btn.png) no-repeat center;
	width: 20px;
	height: 20px;
	background-size: 100%;
	display: block;
}
.pl-top .sub-btn{
	padding: 3px 6px;
	background: #35a0ff;
	border: none;
	color: #fff;
	border-radius: 5px;
}
.active{
	animation: show 0.2s ease;
	-webkit-animation: show 0.2s ease;
}
@keyframes show {
	from{bottom: -250px}
	to{bottom: 0}
}
@-webkit-keyframes show {
	from{bottom: -250px}
	to{bottom: 0}
}
.pl-area textarea{
	width: 100%;
	border: none;
	resize: none;
	height: 250px;
	padding: 7px;
	box-sizing: border-box;
	word-break: break-all;
}

